---
# TODO: This is distro specific. In Fedora it is configured by driver
#
# - name: Setup and configure UPower
#   ansible.builtin.include_tasks: configure_nvidia_suspend_settings.yml

# TODO: Does not make any sense to enable it in KDE interface, cause it will not function, when hibernate partition is not connected
#
# - name: Configure hibernate and in the system (turn off swap and use it only for hibernate)
#   ansible.builtin.include_tasks: enable_hibernate_in_kde.yml

- name: Debug OS family
  ansible.builtin.debug:
    var: ansible_facts.os_family

- name: Debug OS family
  ansible.builtin.debug:
    var: ansible_facts.distribution

- name: Debug OS family
  ansible.builtin.debug:
    var: ansible_facts.distribution_variant

- name: Check for hibernate support in the system
  ansible.builtin.include_tasks: check_hibernate_support.yml

- name: Configure hibernate for Ubuntu
  ansible.builtin.include_tasks: ubuntu/main.yml
  when: ansible_facts.os_family == "Debian" # covers Debian + Ubuntu

- name: Configure hibernate for Fedora
  ansible.builtin.include_tasks: fedora/main.yml
  when:
    - ansible_facts.distribution == "Fedora"
    # - ansible_facts.distribution_variant == "Workstation"
