---
- name: Prepare Ubuntu system for Docker installation
  ansible.builtin.include_tasks: ubuntu/docker_ubuntu.yml
  when: ansible_facts['distribution'] == "Ubuntu"
  tags: [docker]

- name: Prepare Pop!_OS system for Docker installation
  ansible.builtin.include_tasks: ubuntu/docker_ubuntu.yml
  when: ansible_facts['distribution'] == "Pop!_OS"
  tags: [docker]

- name: Prepare Fedora system for Docker installation
  ansible.builtin.include_tasks: fedora/docker_fedora.yml
  when: ansible_facts['distribution'] == "Fedora"
  tags: [docker]

- name: Inform about unsupported OS
  ansible.builtin.debug:
    msg: "Docker role does not support this OS: {{ ansible_facts['distribution'] }}"
  when: ansible_facts['distribution'] not in ["Pop!_OS", "Ubuntu", "Fedora"]
  tags: [docker]

- name: Install Docker packages
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  tags: [docker]

# - name: Install NVIDIA Container Toolkit
#   ansible.builtin.include_tasks: nvidia_container_toolkit.yml
#   when: nvidia_container_toolkit | default(false)
#   tags: [docker]

- name: Add users to docker group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  loop: "{{ docker_users }}"
  tags: [docker]

- name: Keep Docker services disabled by default (they will be started automatically on-demand)
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  loop:
    - docker.service
    - containerd.service
  tags: [docker]
